@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700");
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Poppins', sans-serif; */
  font-family: 'Lato', sans-serif;
}
html {
  will-change: auto;
  scroll-behavior: smooth;
}
header
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* ----------------- Logo ----------------- */
header .logo img
{
  width: 150px;
}
/* ----------------- Menu toggle ----------------- */
.toggle
{
  position: relative;
  width: 30px;
  height: 30px;
  background: url(https://i.ibb.co/HrfVRcx/menu.png);
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
  cursor: pointer;
}
.toggle.active
{
  background: url(https://i.ibb.co/rt3HybH/close.png);
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: center;
  cursor: pointer;
}

/* ----------------- Index Content ----------------- */
.showcase
{
  position: absolute;
  right: 0;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  background: #111111;
  transition: 0.5s;
  z-index: 2;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.showcase.active
{
  right: 300px;
}

/* ------------- Video ------------- */
.showcase video
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}
.overlay
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000000a8;
  mix-blend-mode: overlay;
}

/* ------------- Title ------------- */
.text
{
  position: relative;
  z-index: 10;
  justify-content: center;
  align-items: center;

  display: flex;
  flex-direction: column;
}

.text h2
{
  font-size: 3em;
  font-weight: thick 300px;
  color: #fff;
  line-height: 1em;
  /* text-transform: uppercase; */
  font-family: "Lato";
  text-align: center;
  letter-spacing: calc(1em / 5);

  /* special effects */
  word-spacing: 4px;
  /* text-transform: uppercase; */
  background: rgb(0, 0, 0);
  z-index: 1;
  border: unset;
  outline: unset;
  position: relative;
  padding: 0.5em 0.5em;
  border-radius: 3px;
}

.text h2:before, .text h2:after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  border-radius: 3px;
}

.text h2:before {
  animation: rainbow-border 2.0s linear infinite;
  border-radius: 3px;
  background: linear-gradient(70deg, #007cf0, #00dfd8, #ff0080, #007cf0);
  width: 100%;
  height: 100%;
  background-size: 200% 200%;
}

.text h2:after {
  border-radius: 3px;
  margin: 3px;
  background: inherit;
}

@-webkit-keyframes rainbow-border {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 200% 50%;
  }
}

.text h3 {
  font-size: 1.5em;
  font-weight: 1;
  color: #fff;
  line-height: 1em;
  font-family: "Lato";
  text-align: center;
  margin-bottom: 5px;
  letter-spacing: calc(1em / 5);
}

/* ------------- Register Button ------------- */

.text a
{
  display: inline-block;
  font-size: 1em;
  background: #ffffff00;
  padding: 10px 30px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  margin-top: 10px;
  color: #ffffff;
  letter-spacing: 2px;
  transition: 0.2s;
  border-radius: 10px;
  border: 2px solid #ffffff;
  font-family: "Lato";
  margin-top: 4px;
}

.text a:hover
{
  /* border: 2px solid #38b6ff;
  color: rgb(255, 255, 255);
  background:#38b6ff ;
  transition: 0.5s;
  text-decoration: none;
  border-radius: 10px; */

  background: #000;
  color: transparent;
  background: linear-gradient(-90deg, #007cf0, #00dfd8, #ff0080, #007cf0);
    /* 70deg, #0ebeff, #ffdd40, #ae63e4, #47cf73, #0ebeff, #ffdd40, #ae63e4, #47cf73); */
  animation: rainbow-border 2.0s linear infinite;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-size: 200% 200%;
  border: 2px solid #000000;
  transition: 0.5s;
}

/* Gradient Animation Button
/******************************/

button {
  display: inline-block;
  font-size: 1em;
  background: #ffffff00;
  padding: 10px 30px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  margin-top: 10px;
  color: #ffffff;
  letter-spacing: 2px;
  transition: 0.2s;
  border-radius: 10px;
  border: 2px solid #ffffff;
  font-family: "Lato";
  margin-top: 4px;
}

button:hover {
	border: 2px;
	position: relative;
	border-radius: 10px;
	color: #fff;
	background: #00000000;
	padding: 10 30px;
	box-shadow: 0 0 0 1px 0 0 0 1px rgba(255, 255, 255, 0.14);
	max-width: 100%;
	justify-content: center;
	align-items: center;
	transition-property: border-color, background, color, transform, box-shadow;
	transition-duration: .15s;
	transition-timing-function: ease;
	font-size: 1em;

	/* line-height: 50px; */
	/* height: 50px; */
	/* width: 100%; */
	/* max-width: 250px; */

  width: 210px;
  height: 42px;

	transition: 0.3s;
}

button:hover .highlight-bg {
	position: absolute;
	top: 1px;
	right: 1px;
	bottom: 1px;
	left: 1px;
	background: inherit;
	border-radius: 10px;
	background: linear-gradient(-90deg, #007cf0, #00dfd8, #ff0080, #007cf0);
	background-size: 400% 100%;
	border: none;
	padding: 0;
	margin: 0;
	animation: background-anim 8s ease-in-out infinite;
  transition: 0.3s;
}

button:hover .button-text {
  font-family: "Lato";
  text-transform: uppercase;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
  transition: 0.3s;
}

button:hover .highlight-bg::after {
	content: "";
	position: absolute;
	background-size: inherit;
	background-image: inherit;
	animation: inherit;
	left: 0;
	right: 0;
	top: 2px;
	height: 100%;
	filter: blur(.5rem);
	transition: 0.3s;
  border-radius: 10px;
}

@keyframes background-anim {
	50% {
		background-position: 140% 50%;
		transform: skew(-2deg);
	}
}

/* ------------- Menu ------------- */
.menu
{
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu ul
{
  position: relative;
}
.menu ul li
{
  list-style: none;
}
.menu ul li a
{
  text-decoration: none;
  font-size: 24px;
  color: #111;
}
.menu ul li a:hover
{
  /* color: #f403cc; */

  background: #ffffff;
  color: transparent;
  background: linear-gradient(-90deg, #007cf0, #00dfd8, #ff0080, #007cf0);
  animation: rainbow-border 2.0s linear infinite;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-size: 200% 200%;
  transition: 0.5s;
}

@media (max-width: 991px)
{
  .showcase,
  .showcase header
  {
    padding: 40px;
  }
  .text h2
  {
    font-size: 3em;
  }
  .text h3
  {
    font-size: 2em;
  }
}


/* ------------- Social ------------- */

/* ------ Black ------ */
.social_1
{
  position: absolute;
  z-index: 10;
  bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 500px;
}
.social_1 ion-icon {
  font-size: 55px;
}
.social_1 li
{
  list-style: none;
}
.social_1 li a
{
  display: inline-block;
  margin-right: 20px;
  filter: invert(1);
  transform: scale(0.5);
  transition: 0.5s;
  color: #ffffff;
}
.social_1 li a:hover
{
  transform: scale(0.5) translateY(-15px);
}

/* -------- White --------- */
.social_2
{
  position: absolute;
  z-index: 10;
  bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
}
.social_2 ion-icon {
  font-size: 55px;
}
.social_2 li
{
  list-style: none;
}
.social_2 li a
{
  display: inline-block;
  margin-right: 20px;
  filter: invert(1);
  transform: scale(0.5);
  transition: 0.5s;
  color: #000000;
}
.social_2 li a:hover
{
  transform: scale(0.5) translateY(-15px);
  color: #000000;
}
